@{
    ViewBag.Title = "Home Page";
}


    <p>
        @Html.Action("GetPictureByTopic")
    </p>

<br />
<div class="row">
    @*<tr>*@
    <div class="col-md-4">
        <div class="main-table-row">
            <h4 class="main-table-h4">
                Study-Languages
            </h4>
            <div class="main-table-in-cell">
                <br />
                <p>
                    На данном сайте мы предлагаем вам материалы для изучения английского языка,
                    которые могут быть полезны для начинающих.
                </p>
                <br />
                <br />
                <p>
                    По мере возможности мы будем делать обновления на нашем сайте и добавлять
                    новые разделы, уроки, тесты и задания.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="main-table-row">
            <h4 class="main-table-h4">
                Популярные страницы
            </h4>
            <div class="main-table-in-cell">
                <br />
                <ul class="main-table-list">
                    <li class="main-table-list-li">
                        <span>Категория: Цифры</span>
                    </li>
                    <li class="main-table-list-li">
                        <span>Категория: Цвета</span>
                    </li>
                    <li class="main-table-list-li">
                        <span>Категория: Фрукты</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="main-table-row">
            <h4 class="main-table-h4">
                Вход на сайт
            </h4>
            <div class="main-table-in-cell">
                <br />
                <p>
                    Регистрация позволяет сохранять результаты тестов и упражнений,
                    которые вы выполняете на нашем сайте.
                </p>
                <br />
                <div class="main-table-btn">
                    <br />
                    <a class="main-table-btn-register" href=@Html.ActionLink("Регистрация  >>", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</a>
                </div>
                <div class="main-table-btn">
                    <br />
                    <a class="main-table-btn-login" href=@Html.ActionLink("Войти  >>", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</a>
                </div>
            </div>
        </div>
    </div>
</div>
